.bred {
    color: #E01E3C;
}

.bblack {
    #161616;
}

.bwhite {
    color: #ffffff;
}

.nunitoSans {
    font-family: cur
}

@font-face {
    font-family: "NunitoSans-Regular";
    src: url("./fonts/NunitoSans-Regular.ttf");
